{% extends "base.html" %}
{% block title %}Who Are You - Edit{% endblock %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1>About Us</h1>
                    <p>Have you ever been asked for your opinion and felt stuck?
                        You do have an opinion, but you've never really thought about it before.<br>
                    <p>But that's okay now. By answering one question a day, you'll know a little more about yourself.</p>
                    <ul>
                        <li>This is not meant for debating with others — it's just designed to help you understand your own opinions. </li>
                        <li>These questions were gathered using an LLM. No psychology, just straightforward questions.</li>                        
                    </ul>                 
                </div>    
            </div>
        </div>
    </div>
</header>
{% endblock %}