{% extends "base.html" %}
{% block title %}Who Are You - Edit{% endblock %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <p>
                        <span class="badge text-bg-secondary ">{{ question['category'].title().replace("_", " ") }}</span>
                        <span class="badge text-bg-light">{{ question['depth'].title().replace("_", " ") }}</span>
                    </p>
                    <h1>{{ question["question"] }}</h1>
                    <!-- New post input-->
                    <div class="position-relative">
                        <form class=form_and_submit method="POST" action="{{ url_for('edit', id=question['question_id']) }}"> 
                            <textarea class="form-control my-4" rows="5" aria-label="With textarea" placeholder="Tell me about yourself" name="new_record" id="new_record">{{ question["answer"] }}</textarea>      
                            <button type="submit" class="btn btn-link position-absolute" style="right: 0; bottom: 0;"><img height=25 src="..//static/assets/img/send.svg"></button>
                        </form> 
                    </div>                        
                </div>    
            </div>
        </div>
    </div>
</header>
{% endblock %}